h3 {
    color: brown;
    text-align: center;
    text-transform: uppercase;
}

.small {
    color: fuchsia;
    text-transform: capitalize;
}

/* *{
    margin: 0px;
    padding: 0px;
    color: seagreen; 
} */

.desc a{
    color: red;
}

.child > a {
    color: yellow;
}





a:link {
    color: red;
}

a:hover {
    color: yellow;
}

a:active {
    color: grey;
}

a:visited {
    color: skyblue;
}

:target {
    color: blue;
    border: 3px solid red;
}

form {
    width: 80%;
    margin: auto;
}

input[type="text"],input[type="number"]{
    width: 100%;
    border: 2px solid yellow;
    background-color:gray;
    outline: none;
    height: 40px;
}
input[type="text"]:focus, input[type="number"]:focus {
    border: 2px solid #555;
}

h1 {
    text-align: center;
}

div#dob_select {
    width: 100%;
    background-color: #EEE;
    border-radius: 4px;
    outline:none;
}

div#dob_select select {
width: 32%;
padding: 5px 50px;
}

input[type="radio"]:checked+label {
    color: yellow;
    font-weight: bold;
}

textarea#address {
width: 100%;
height: 100px;
border: 2px solid #ccc;
border-radius: 10px;
outline: none;
}



input[type="checkbox"]:enabled+label {
    color: blue;
    font-style: italic;
}

input[type="checkbox"]:checked+label {
    color: yellow;
font-style: normal;
}

input[type="checkbox"]:disabled+label {
    color: rgb(167, 25, 56);
font-style: normal;
}

#rule_fieldset legend{
	background-color: #ef5350;
	color: white;
	margin: 20px 0px;
}
p{
	text-indent: 30px;
}

ul li{
	line-height: 40px;
	width: 80%;
	margin-left: 10px;
}

li:first-child{
	background-color: yellow;
}

li:last-child{
	background-color: red;
}

li:nth-child(3){
	background-color: green;
}

p:empty{
	width: 100%;
	height: 20px;
	background-color: #607D8B;
}

.thankyou{
	text-align: center;
}

.borderone{
	border: 1px solid #000;
}

.bordertwo{
	border-bottom: 2px dashed red;
}

.borderthree{
	border: 2px dotted #1B5E20;
	border-radius: 10px;
}

.borderfour{
	border-left: 50px solid yellow;
	background-color: red;
}

.solid{
	border-style: dashed ;
}

.mix{
	border-style: groove dotted solid dashed;
				/*top    right  bottom  left*/
    border-color: blue red yellow green;
}
