<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ex-1</title>
    <style>
        
        #app{
            margin: 0 auto;
            width: 80%;
        }
    </style>
</head>
<body>
    <div id="app">
        <table border="1" cellspacing = "0" cellpadding = "10" width = "80%">
            <thead>
                <tr>
                    <th>No</th>
                    <th>Name</th>
                    <th>Gender</th>
                    <th>Profile</th>
                    <th>Myan</th>
                    <th>Eng</th>
                    <th>Math</th>
                    <th>Total</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for='(stu,index) in students'>
                    <td>{{index+1}}</td>
                    <td>{{stu.name}}</td>
                    <td>{{stu.gender}}</td>
                    
                    <td><img v-bind:src='stu.profile' width="50px" alt=""></td>
                    <td>
                        <span v-if='stu.myan>=75'>D</span>
                        <span v-else-if='stu.myan>40 && stu.myan<75'>P</span>
                        <span v-else>F</span>
                    </td>
                    <td>
                        <span v-if='stu.eng>=75'>D</span>
                        <span v-else-if='stu.eng>40 && stu.eng<75'>P</span>
                        <span v-else>F</span>
                    </td>
                    <td>
                        <span v-if='stu.math>=80'>D</span>
                        <span v-else-if='stu.math>40 && stu.math<80'>P</span>
                        <span v-else>F</span>
                    </td>
                    <td>
                        {{stu.myan + stu.eng + stu.math}}
                    </td>
                    <td>
                        <button v-on:click='detail(index)'>Detail</button>
                    </td>
                </tr>
            </tbody>
        </table>
        
    </div>

    <script src="vue.min.js"></script>
    <script>
        new Vue({
            el : '#app',
            data: {
                students : [
                    {name : 'Mg Mg', gender : 'Male', profile : '1.jpeg', myan : 80, eng : 60, math : 33},
                    {name : 'Aung Aung', gender : 'Male', profile : '2.jpeg', myan : 56, eng : 55, math : 75},
                    {name : 'Su Su', gender : 'Female', profile : '3.jpeg', myan : 56, eng : 70, math : 80},
                    {name : 'Tun Tun', gender : 'Male', profile : '4.png', myan : 33, eng : 55, math : 77},
                    {name : 'Aye Aye', gender : 'Female', profile : '5.png', myan : 75, eng : 66, math : 80},
                ],
            },
            methods:{
                detail(index){
                    let mystudent = this.students[index]
                    let output = `Marks of ${mystudent.name}
                                    Myan => ${mystudent.myan}
                                    Eng => ${mystudent.eng}
                                    Math => ${mystudent.math}`
                    alert(output)
                }
            }
        })

        Vue.config.devtools = true

    </script>
</body>
</html>